.faq-section {
  padding: 60px 0;
  background-color: #f1f1f1;
}
.section-heading {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 60px;
}

.faq-section .nav-pills .nav-link {
  color: #333;
  font-size: 32px;
  font-weight: 600;
  background: #fff;
  box-shadow: 0px 2px 5px 3px rgb(33 33 33 / 5%);
}

.faq-section .nav-pills .nav-link:hover {
  background-color: #75ae3e;
  color: #fff;
}

.faq-section .nav-pills .nav-link:not(:last-child) {
  padding: 15px 90px;
  margin-bottom: 60px;
}

.faq-section .nav-pills .nav-link:last-child {
  padding: 15px 0;
}
.faq-section .nav-pills .nav-link.active {
  background: #75ae3e;
  color: #ffff;
}

.faq-section .tab-content {
  padding: 60px;
  background: #fff;
  border-radius: 5px;
}

.faq-section .accordion-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 7px 0;
  border-radius: 0;
}

.faq-section .accordion-button {
  padding-left: 40px;
  font-weight: 600;
}

.faq-section .accordion-button:hover {
  color: #75ae3e;
}

.faq-section .accordion-button:not(.collapsed) {
  color: #75ae3e;
  background: #fff;
  box-shadow: none;
  font-weight: 600;
}

.faq-section .accordion-button::after {
  background-image: url(../images/chevron-close.png);
  background-size: auto;
  transform: rotate(0);
  margin-left: 0;
  position: absolute;
  left: 20px;
  top: 19px;
}
.faq-section .accordion-button:hover::after {
  background-image: url(../images/chevron-right-hover.png);
}

.faq-section .accordion-button:not(.collapsed)::after {
  background-image: url(../images/chevron-open.png);
  top: 23px;
}

.faq-section .accordion-body {
  padding: 5px 40px 20px;
}

.faq-section .accordion-button:focus {
  border: none;
  box-shadow: none;
}
